ion-content ion-toolbar {
  --background: translucent;
}
ion-grid {
  background-color: #f0f2f5;
}
ion-searchbar {
  margin-top: 15px;
}

.swiper-slide img {
  border-radius: 15px;
}

.icons img {
  width: 60%;
}
